In [1]:
import pandas as pd
import numpy as np
import re
import sklearn
import seaborn as sns
from collections import Counter

import warnings
warnings.filterwarnings('ignore')


sns.set(style='white', context='notebook', palette='deep')
pd.options.display.max_columns = 200

In [2]:
ktrain = pd.read_csv("train.csv")
ktest = pd.read_csv("test.csv")
ktrain.isnull().sum() #sum of null values

Unnamed: 0                                  0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [3]:
ktest.isnull().sum()

Unnamed: 0                                   0
SeriousDlqin2yrs                        101503
RevolvingUtilizationOfUnsecuredLines         0
age                                          0
NumberOfTime30-59DaysPastDueNotWorse         0
DebtRatio                                    0
MonthlyIncome                            20103
NumberOfOpenCreditLinesAndLoans              0
NumberOfTimes90DaysLate                      0
NumberRealEstateLoansOrLines                 0
NumberOfTime60-89DaysPastDueNotWorse         0
NumberOfDependents                        2626
dtype: int64

In [4]:
def detect_outliers(df,n,features):
    outlier_indices = []
    
    # iterate over features(columns)
    for col in features:
        # 1st quartile (25%)
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile (75%)
        Q3 = np.percentile(df[col],75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        
        # outlier step
        outlier_step = 1.5 * IQR
        
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step )].index
        
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        
    # select observations containing more than 2 outliers
    outlier_indices = Counter(outlier_indices)        
    multiple_outliers = list( k for k, v in outlier_indices.items() if v > n )
    
    return multiple_outliers

# detect outliers from Age, SibSp , Parch and Fare
# These are the numerical features present in the dataset
Outliers_to_drop = detect_outliers(ktrain,2,["RevolvingUtilizationOfUnsecuredLines",
                                            "age",
                                            "NumberOfTime30-59DaysPastDueNotWorse",
                                            "DebtRatio",
                                            "MonthlyIncome",
                                            "NumberOfOpenCreditLinesAndLoans",
                                            "NumberOfTimes90DaysLate",
                                            "NumberRealEstateLoansOrLines",
                                            "NumberOfTime60-89DaysPastDueNotWorse",
                                            "Unnamed: 0",
                                            "NumberOfDependents"])

In [5]:
ktrain.loc[Outliers_to_drop]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
900,901,0,2.258964,33,2,0.032484,2000.0,1,1,0,0,2.0
919,920,1,1.362142,73,1,274.000000,NaN,2,3,0,1,NaN
1958,1959,0,1.634551,28,0,151.000000,NaN,1,3,0,2,0.0
4852,4853,0,1.566866,46,2,0.104983,6000.0,3,2,0,0,0.0
5956,5957,0,2.237856,60,6,2597.000000,1.0,16,1,2,1,4.0
6251,6252,1,1.481038,26,0,22.000000,NaN,1,0,0,1,0.0
6703,6704,0,1.421927,50,1,0.058003,4085.0,2,0,0,1,2.0
6907,6908,0,1.548094,24,0,37.000000,NaN,3,0,0,2,NaN
7079,7080,0,1.485050,66,1,1049.000000,NaN,3,0,0,0,0.0
7352,7353,1,1.650560,35,1,1596.000000,NaN,13,0,0,0,2.0
8791,8792,1,2.039867,43,3,0.351430,2412.0,6,6,0,1,2.0
8849,8850,0,1.401089,22,0,351.000000,NaN,6,1,0,0,NaN
9341,9342,0,1.376623,29,1,0.417025,1162.0,4,1,0,1,0.0
9514,9515,1,1.385382,22,1,12.000000,NaN,1,0,0,0,NaN
9638,9639,1,1.563273,62,2,0.034168,3833.0,5,0,0,1,0.0
9783,9784,1,1.611296,28,1,468.000000,NaN,3,1,0,0,0.0
10379,10380,1,1.398010,32,1,240.000000,NaN,3,1,0,0,0.0
11761,11762,1,1.419301,28,0,0.159868,3333.0,3,1,0,3,1.0
12077,12078,0,1.521595,27,0,473.000000,NaN,3,2,0,2,0.0
12403,12404,1,2.110671,48,5,0.158286,6999.0,5,0,0,1,3.0
12488,12489,0,1.541528,50,1,430.000000,NaN,2,0,0,0,3.0
12661,12662,1,1.439372,46,1,0.168675,3900.0,7,1,0,0,0.0
13108,13109,0,1.602794,31,1,0.262496,3100.0,4,1,0,1,0.0
14914,14915,0,1.562613,38,1,0.291541,2990.0,5,4,0,0,0.0
14950,14951,1,1.401198,39,1,0.103507,4076.0,5,1,0,0,2.0
15481,15482,1,1.353415,49,0,471.000000,NaN,9,5,0,3,NaN
15598,15599,0,1.428571,40,1,0.164111,1760.0,6,0,0,1,1.0
15608,15609,1,2.787375,35,1,85.000000,NaN,2,0,0,0,0.0
15777,15778,0,1.581395,41,0,498.000000,NaN,3,1,0,1,0.0
15799,15800,1,1.446328,45,1,0.423548,5800.0,12,2,2,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
129182,129183,0,0.112288,66,0,5232.000000,NaN,25,1,2,0,0.0
129336,129337,1,0.295852,35,0,21.000000,NaN,2,1,0,1,0.0
130392,130393,1,0.977551,34,0,321.000000,NaN,2,2,0,1,0.0
133217,133218,1,0.325215,43,0,619.000000,NaN,3,1,0,1,0.0
134099,134100,1,0.000000,91,0,18.000000,NaN,5,1,0,1,0.0
135646,135647,1,0.928184,30,0,312.000000,NaN,2,1,0,1,3.0
136801,136802,0,0.000000,30,0,698.000000,NaN,2,1,1,1,1.0
137510,137511,1,0.568440,54,0,1333.000000,NaN,3,4,0,2,0.0
138311,138312,0,1.000000,29,0,251.000000,NaN,2,1,0,1,0.0
138417,138418,0,1.000000,55,0,602.000000,NaN,1,6,0,1,0.0
138434,138435,0,0.766769,40,0,2013.000000,NaN,7,1,1,1,0.0
140646,140647,1,1.000000,61,0,1425.000000,NaN,2,1,1,1,0.0
144448,144449,1,1.000000,32,0,106.000000,NaN,0,3,0,1,0.0
144773,144774,1,0.937099,40,0,1684.000000,NaN,2,1,1,1,0.0
144830,144831,0,0.647590,63,0,3209.000000,NaN,7,1,2,1,1.0
145177,145178,1,0.947815,30,0,849.000000,NaN,4,2,0,1,0.0
146266,146267,0,0.000726,61,0,247.000000,NaN,21,0,0,1,0.0
146996,146997,1,0.840674,62,0,2842.000000,NaN,15,1,0,3,1.0
147310,147311,0,0.173502,69,0,12403.000000,NaN,31,0,9,0,0.0
149232,149233,1,0.933062,50,0,2448.000000,NaN,7,1,2,2,2.0
149420,149421,1,1.000000,33,0,71.000000,NaN,1,2,0,1,NaN
149700,149701,1,1.000000,26,0,577.000000,NaN,2,1,0,1,NaN
149843,149844,0,0.070112,84,0,79.000000,NaN,10,1,0,1,0.0
97373,97374,0,0.638562,49,0,0.568515,12500.0,25,1,6,0,0.0
101138,101139,0,0.194027,51,0,1.310163,8746.0,21,1,6,0,0.0
117338,117339,1,0.960692,42,0,1.241580,3770.0,29,1,2,1,3.0
126682,126683,1,0.344297,38,0,1.789158,4500.0,23,14,11,1,0.0
129570,129571,0,0.075067,58,0,0.298925,17388.0,24,0,6,1,0.0
5833,5834,1,0.917527,44,0,1.852144,3800.0,13,1,7,1,1.0
142226,142227,1,0.859714,55,0,0.599348,11046.0,18,7,6,6,1.0

In [6]:
ktrain = ktrain.drop(Outliers_to_drop, axis = 0).reset_index(drop=True)

In [7]:
ktrain_len = len(ktrain)
ds = pd.concat(objs=[ktrain, ktest], axis=0).reset_index(drop=True)

In [8]:
ds = ds.rename(columns={'Unnamed: 0': 'Unknown',
                                  'SeriousDlqin2yrs': 'Target',
                                  'RevolvingUtilizationOfUnsecuredLines': 'UnsecLines',
                                  'NumberOfTime30-59DaysPastDueNotWorse': 'Late3059',
                                  'DebtRatio': 'DebtRatio',
                                  'MonthlyIncome': 'MonthlyIncome',
                                  'NumberOfOpenCreditLinesAndLoans': 'OpenCredit',
                                  'NumberOfTimes90DaysLate': 'Late90',
                                  'NumberRealEstateLoansOrLines': 'PropLines',
                                  'NumberOfTime60-89DaysPastDueNotWorse': 'Late6089',
                                  'NumberOfDependents': 'Deps'})

ktrain = ktrain.rename(columns={'Unnamed: 0': 'Unknown',
                                  'SeriousDlqin2yrs': 'Target',
                                  'RevolvingUtilizationOfUnsecuredLines': 'UnsecLines',
                                  'NumberOfTime30-59DaysPastDueNotWorse': 'Late3059',
                                  'DebtRatio': 'DebtRatio',
                                  'MonthlyIncome': 'MonthlyIncome',
                                  'NumberOfOpenCreditLinesAndLoans': 'OpenCredit',
                                  'NumberOfTimes90DaysLate': 'Late90',
                                  'NumberRealEstateLoansOrLines': 'PropLines',
                                  'NumberOfTime60-89DaysPastDueNotWorse': 'Late6089',
                                  'NumberOfDependents': 'Deps'})

ktest = ktest.rename(columns={'Unnamed: 0': 'Unknown',
                                  'SeriousDlqin2yrs': 'Target',
                                  'RevolvingUtilizationOfUnsecuredLines': 'UnsecLines',
                                  'NumberOfTime30-59DaysPastDueNotWorse': 'Late3059',
                                  'DebtRatio': 'DebtRatio',
                                  'MonthlyIncome': 'MonthlyIncome',
                                  'NumberOfOpenCreditLinesAndLoans': 'OpenCredit',
                                  'NumberOfTimes90DaysLate': 'Late90',
                                  'NumberRealEstateLoansOrLines': 'PropLines',
                                  'NumberOfTime60-89DaysPastDueNotWorse': 'Late6089',
                                  'NumberOfDependents': 'Deps'})

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247976 entries, 0 to 247975
Data columns (total 12 columns):
Unknown          247976 non-null int64
Target           146473 non-null float64
UnsecLines       247976 non-null float64
age              247976 non-null int64
Late3059         247976 non-null int64
DebtRatio        247976 non-null float64
MonthlyIncome    199624 non-null float64
OpenCredit       247976 non-null int64
Late90           247976 non-null int64
PropLines        247976 non-null int64
Late6089         247976 non-null int64
Deps             241584 non-null float64
dtypes: float64(5), int64(7)
memory usage: 22.7 MB

In [10]:
ds.head()

,Unknown,Target,UnsecLines,age,Late3059,DebtRatio,MonthlyIncome,OpenCredit,Late90,PropLines,Late6089,Deps
0,1,1.0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0.0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0.0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0.0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0.0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [11]:
#Unseclines 
ds.UnsecLines = pd.qcut(ds.UnsecLines.values, 5).codes

In [12]:
#Debt Ratio
ds.DebtRatio = pd.qcut(ds.DebtRatio.values, 5).codes

In [13]:
#Monthly Income - Filling NaN values with median
ds.MonthlyIncome = ds.MonthlyIncome.fillna(ds.MonthlyIncome.median())
ds.MonthlyIncome = pd.qcut(ds.MonthlyIncome.values, 5).codes

In [14]:
#age
ds.age = pd.qcut(ds.age.values, 5).codes

In [15]:
#open credit
ds.OpenCredit = pd.qcut(ds.OpenCredit.values, 5).codes

In [16]:
#Late 30-59 days #goruping customers 6 or more together(high sd)
for i in range(len(ds)):
    if ds.Late3059[i] >= 6:
        ds.Late3059[i] = 6

In [17]:
#Late 90 days  #goruping customers late>90 5 or more together(high sd)
for i in range(len(ds)):
    if ds.Late90[i] >= 5:
        ds.Late90[i] = 5

In [18]:
#Late 60-89 days  #goruping customers late btw 60 & 89 days 3 or more together(high sd)
for i in range(len(ds)):
    if ds.Late6089[i] >= 3:
        ds.Late6089[i] = 3

In [19]:
# Proper Lines of Income #goruping customers proper lines 6 or more together(high sd)
for i in range(len(ds)):
    if ds.PropLines[i] >= 6:
        ds.PropLines[i] = 6

In [20]:
# Total number of dependents #goruping customers with dependents 4 or more together(high sd)
ds.Deps = ds.Deps.fillna(ds.Deps.median())
for i in range(len(ds)):
    if ds.Deps[i] >= 4:
        ds.Deps[i] = 4

In [21]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247976 entries, 0 to 247975
Data columns (total 12 columns):
Unknown          247976 non-null int64
Target           146473 non-null float64
UnsecLines       247976 non-null int8
age              247976 non-null int8
Late3059         247976 non-null int64
DebtRatio        247976 non-null int8
MonthlyIncome    247976 non-null int8
OpenCredit       247976 non-null int8
Late90           247976 non-null int64
PropLines        247976 non-null int64
Late6089         247976 non-null int64
Deps             247976 non-null float64
dtypes: float64(2), int64(5), int8(5)
memory usage: 14.4 MB

In [22]:
ds.shape

(247976, 12)

In [23]:
ds = pd.get_dummies(ds, columns = ["UnsecLines"], prefix="UnsecLines")
ds = pd.get_dummies(ds, columns = ["age"], prefix="age")
ds = pd.get_dummies(ds, columns = ["Late3059"], prefix="Late3059")
ds = pd.get_dummies(ds, columns = ["DebtRatio"], prefix="DebtRatio")
ds = pd.get_dummies(ds, columns = ["MonthlyIncome"], prefix="MonthlyIncome")
ds = pd.get_dummies(ds, columns = ["OpenCredit"], prefix="OpenCredit")
ds = pd.get_dummies(ds, columns = ["Late90"], prefix="Late90")
ds = pd.get_dummies(ds, columns = ["PropLines"], prefix="PropLines")
ds = pd.get_dummies(ds, columns = ["Late6089"], prefix="Late6089")
ds = pd.get_dummies(ds, columns = ["Deps"], prefix="Deps")

In [24]:
ds.shape

(247976, 56)

In [75]:
ktrain = ds[:ktrain_len]
ktest = ds[ktrain_len:]
ktest.drop(labels=["Target"],axis = 1,inplace=True)

In [76]:
ktest.shape

(101503, 55)

In [77]:
ktest.shape

(101503, 55)

In [78]:
#Separating features and labels

ktrain["Target"] = ktrain["Target"].astype(int)

Y_train = ktrain["Target"]

X_train = ktrain.drop(labels = ["Target", "Unknown"],axis = 1)

In [79]:
Y_train.head()

0    1
1    0
2    0
3    0
4    0
Name: Target, dtype: int64

In [90]:
X_train.head()

,index,UnsecLines_0,UnsecLines_1,UnsecLines_2,UnsecLines_3,UnsecLines_4,age_0,age_1,age_2,age_3,age_4,Late3059_0,Late3059_1,Late3059_2,Late3059_3,Late3059_4,Late3059_5,Late3059_6,DebtRatio_0,DebtRatio_1,DebtRatio_2,DebtRatio_3,DebtRatio_4,MonthlyIncome_0,MonthlyIncome_1,MonthlyIncome_2,MonthlyIncome_3,MonthlyIncome_4,OpenCredit_0,OpenCredit_1,OpenCredit_2,OpenCredit_3,OpenCredit_4,Late90_0,Late90_1,Late90_2,Late90_3,Late90_4,Late90_5,PropLines_0,PropLines_1,PropLines_2,PropLines_3,PropLines_4,PropLines_5,PropLines_6,Late6089_0,Late6089_1,Late6089_2,Late6089_3,Deps_0.0,Deps_1.0,Deps_2.0,Deps_3.0,Deps_4.0
0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0
1,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,2,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,3,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,4,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [91]:
X_train = X_train[:1000]
Y_train = Y_train[:1000]
ktest = ktest[:1000]

In [92]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
from sklearn.feature_selection import SelectFromModel, SelectKBest
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score

In [93]:
clf = RandomForestClassifier(n_estimators=10, max_features='sqrt')
clf = clf.fit(X_train, Y_train)

In [ ]:
parameters = {'n_estimators': 1000, 'random_state' : 20}
    
model = RandomForestClassifier(**parameters)
model.fit(X_train, Y_train)

In [95]:
ktest.head()

,Unknown,UnsecLines_0,UnsecLines_1,UnsecLines_2,UnsecLines_3,UnsecLines_4,age_0,age_1,age_2,age_3,age_4,Late3059_0,Late3059_1,Late3059_2,Late3059_3,Late3059_4,Late3059_5,Late3059_6,DebtRatio_0,DebtRatio_1,DebtRatio_2,DebtRatio_3,DebtRatio_4,MonthlyIncome_0,MonthlyIncome_1,MonthlyIncome_2,MonthlyIncome_3,MonthlyIncome_4,OpenCredit_0,OpenCredit_1,OpenCredit_2,OpenCredit_3,OpenCredit_4,Late90_0,Late90_1,Late90_2,Late90_3,Late90_4,Late90_5,PropLines_0,PropLines_1,PropLines_2,PropLines_3,PropLines_4,PropLines_5,PropLines_6,Late6089_0,Late6089_1,Late6089_2,Late6089_3,Deps_0.0,Deps_1.0,Deps_2.0,Deps_3.0,Deps_4.0
146473,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
146474,2,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
146475,3,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
146476,4,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
146477,5,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0

In [96]:
result = pd.read_csv("test.csv")

In [97]:
result = result.drop(["RevolvingUtilizationOfUnsecuredLines",
                             "age",
                             "NumberOfTime30-59DaysPastDueNotWorse",
                             "DebtRatio",
                             "MonthlyIncome",
                             "NumberOfOpenCreditLinesAndLoans",
                             "NumberOfTimes90DaysLate",
                             "NumberRealEstateLoansOrLines",
                             "NumberOfTime60-89DaysPastDueNotWorse",
                             "NumberOfDependents"], axis=1)

In [98]:
result.head()

   Unnamed: 0  SeriousDlqin2yrs
0           1               NaN
1           2               NaN
2           3               NaN
3           4               NaN
4           5               NaN

In [99]:
X_train.shape

(1000, 55)

In [100]:
ktest.shape

(1000, 55)

In [101]:
DefaultProba = model.predict_proba(ktest.drop(["Unknown"], axis=1))
DefaultProba = DefaultProba[:,1]
result.SeriousDlqin2yrs = DefaultProba

result = result.rename(columns={'Unnamed: 0': 'Id',
                                        'SeriousDlqin2yrs': 'Probability'})

ValueError: Number of features of the model must match the input. Model n_features is 55 and input n_features is 54